@model TuHuTuHu.Models.Userpage

@section AddToHead{
    <link rel="stylesheet" href="/Content/css/userpage.css">
}

<div class="userMainFrame">
    <div class="userPageHeader">
        <img id="userWallpaper" src=@Model.account.CoverLink>


        <div class="userAvatarFrame">
            <!-- <img id="userAvatar" src="images/image.png" data-lightbox="image-1"> -->
            <!-- <a href="/images/image.png" data-lightbox="image-1">
                <img class="uPost-img" src="images/image.png">
            </a> -->
            <a class="userAvatarLink" href=@Model.account.AvtLink data-lightbox="image-1">
                <img class="userAvatar" src=@Model.account.AvtLink>
            </a>
        </div>
        <a id="userName">@Model.account.Fullname</a>
        <a id="userID">@("@" + Model.account.Username)</a>
        <div id="dateOfJoin">
            <img id="iconCalendar" src="/Content/images/calendar.svg">
            <a id="textCalendar"> Đã tham gia từ tháng @Model.account.JoinDate.Value.Month năm @Model.account.JoinDate.Value.Year</a>
        </div>
        <div id="followCount">
            <a id="countFollowMe"><b id="numFollowing">1610</b> Đang theo dõi</a>
            <a id="countMeFollowed"><b id="numFollowed">221199</b> Người theo dõi</a>
        </div>
        <div id="btnEditProfile">Chỉnh sửa hồ sơ</div>

    </div>

    <!--END USER HEADER-->
    <div class="onYourMind">
        <div class="yourmind-textpart">
            <textarea name="yourMind" oninput="auto_grow(this)" placeholder="Bạn đang nghĩ gì..."></textarea>
            <div id="postBtn">Đăng</div>
        </div>
        <div class="add-img-container">
            <input id="file-input" type="file" name="file" onchange="loadImage(event)" accept="image/*" style="display: none;" />

            <div class="listimg"></div>
            <!-- <div class="output" id="output1"></div> -->


            <div id="addimg-btn" onclick="triggerFileButton()">
            </div>


        </div>
    </div>

    <!--Old Posts here-->

    @foreach (var post in Model.posts)
    {
        <div class="post">
            <div class="post-info">
                <img class="post-avt" src=@post.Account.AvtLink>
                <b><a class="post-name" href="">@post.Account.Fullname</a></b>
                <div class="post-time">@post.CreatedAt</div>
            </div>
            <div class="post-content">
                <p class="post-text">@post.Content</p>
            </div>
            <div class="post-images">
                <a href=@post.ImgLink data-lightbox="image-1" data-title="@post.Content">
                    <img class="post-img" src=@post.ImgLink alt="">
                </a>
            </div>
            <div class="sep-line"></div>
            <div class="post-react">
                <div class="love" onclick="LoveClick()">
                    <img class="love-icon" src="/Content/images/heart_line.svg" alt="">
                    <b><p class="love-text">Thích <span style="font-weight: 100; font-size: 13px;">@post.Love.Count()</span> </p></b>
                </div>
                <div class="comment">
                    <img class="comment-icon" src="/Content/images/comment.svg" alt="">
                    <b><p class="comment-text">Bình Luận <span style="font-weight: 100; font-size: 13px;">@post.Comment.Count()</span> </p></b>
                </div>
            </div>
            <div class="sep-line"></div>
            <div class="post-comments">

            </div>
        </div>
    }

</div>