

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <title>TuHu - @ViewBag.Title</title>
    <link rel="icon" href="/Content/favicon.ico">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/lightbox.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <!-- <script src="js/slimscroll.js"></script> -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/js/script.js"></script>
    <script src="/Scripts/js/lightbox.js"></script>

    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

</head>

<body>

    @RenderBody()

    <div class="sidebar">
        <div class="userzone">
            @*<div class="dropdown">
                    <button class="moreBtn btn bg-transparent dropdown-toggle" type="button" data-toggle="dropdown">
                        <img id="noti-icon" src="~/Content/images/noti-unseen.png" alt="" />
                        <img id="noti-icon" src="~/Content/images/noti-unseen.png" alt="" />
                    </button>
                    <ul class="dropdown-menu" style="position: absolute; top:50px; left: 280px">
                        <li>
                            <a class="dropdown-item" href="#">
                                <img src="~/Content/images/avatar.png" alt="Alternate Text" style="width: 50px" />
                                abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <img src="~/Content/images/avatar.png" alt="Alternate Text" style="width: 50px" />
                                abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <img src="~/Content/images/avatar.png" alt="Alternate Text" style="width: 50px" />
                                abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc
                            </a>
                        </li>
                    </ul>
                </div>*@
            <img id="usrcover" src=@ViewBag.CurrentUser.CoverLink alt="usravt">
            <img src=@ViewBag.CurrentUser.AvtLink alt="usravt" id="usravt">
            <p id="username">@ViewBag.CurrentUser.Fullname</p>
            <p id="tagname">@("@" + ViewBag.CurrentUser.Username)</p>
        </div>
        <div class="sidenav">
            <a class="anav" href=@Url.Action("Index", "Newfeed")>
                <img class="navimg" src="/Content/images/home.svg" alt="">
                <p class="navname">Trang chủ</p>
            </a>
            <a class="anav" href=@Url.Action("Index", "Userpage", new { id = ViewBag.CurrentUser.AccID })>
                <img class="navimg" src="/Content/images/person.svg" alt="">
                <p class="navname">Cá nhân</p>
            </a>
            <a class="anav" href=@Url.Action("Index", "Follow")>
                <img class="navimg" src="/Content/images/follow.svg" alt="">
                <p class="navname">Theo dõi</p>
            </a>
        </div>

        <form action="@Url.Action("Logout", "Login")" method="post">
            <div class="logoutbtn" onclick="triggerLogoutButton()">Đăng xuất</div>
            <button id="logout-btn" type="submit" style="display: none">ádasdj</button>
        </form>

    </div>


    <div id="contacts">
        @foreach (var contact in ViewBag.Contacts)
        {
            <div id="contact" onclick="openChat('@contact.Fullname', '@contact.AccID')">
                <img src=@contact.AvtLink alt="" class="contactavt">
                <p class="contactname">@contact.Fullname</p>
                <p id=@("contact_" + contact.AccID) hidden="hidden">@contact.AccID</p>
                <div id=@("msg-dot-" + contact.AccID) class="msg-dot" style="position: absolute; right: 10px; top: 30px; width: 10px; height: 10px; background-color: red; border-radius: 5px; display: none"></div>
            </div>
        }

    </div>


    <div id="contact-bubble" onclick="toggleContacts()">
        <img id="chaticon" src="/Content/images/contacts-w.svg" alt="">
    </div>

    <div class="chat">
        <div id="btn-bubble" onclick="anotherOpenChat()">
            <img id="chaticon" src="/Content/images/chat.svg" alt="">
        </div>
        <!-- <button id="btn-openchat" onclick="openChat()">Open</button> -->
        <div id="chatbox" onclick="HideNewMsgDot()">
            @Html.Partial("_ChatBody")
        </div>



    </div>

    <div class="topbar">
        <img id="logo" src="/Content/images/Tuhu-Logo.png" alt="">
        <form class="form" action=@Url.Action("SearchResult", "Search") method="post">
            <input name="searchbar" type="search" placeholder="Tìm kiếm...">
            @*<button id="searchBtn" type="submit" style="display: none">Tìm</button>*@
        </form>
    </div>

    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () { window.hubReady = $.connection.hub.start(); });
    </script>

</body>

<!-- Modals (Popup dialogs) -->
@Html.Partial("_Modal")

</html>